
.blog-detail {
    @apply my-12 px-1
        container mx-auto 
        
}

.blog-title {
    @apply text-3xl md:text-4xl 
         rounded-t-md overflow-hidden 
        bg-hover-c text-white-c text-center

}
.blog-title h1{
    @apply bg-darck-c-2 rounded-b-md py-1.5
}

.blog-text {
    @apply  text-darck-c-2 
        bg-dead-c 
}
.blog-text p{
    @apply rounded-b-lg
        bg-hover-c 
        font-normal p-3  pb-4 
}

.blog-info {
    @apply rounded-b-md overflow-hidden
}
.blog-info .items{
    @apply flex justify-start gap-x-4 text-sm
         px-4 py-2 bg-dead-c
}
.blog-author a{
    @apply bg-darck-c-2 text-white-c rounded-sm 
        px-0.5
        hover:bg-darck-c-1
        hover:text-darck-c-2
        active:bg-white-c;
    
}