
.blog-detail {
    @apply my-12 px-1
        container mx-auto 
        
}

.blog-title {
    @apply text-3xl md:text-4xl 
         rounded-t-md overflow-hidden 
        bg-hover-c text-white-c text-center

}
.blog-title h1{
    @apply bg-darck-c-2 rounded-b-md py-1.5
}

.blog-text {
    @apply  text-darck-c-2 
        bg-dead-c 
}
.blog-text p{
    @apply rounded-b-lg
        bg-hover-c 
        font-normal p-3  pb-4 
}

.blog-info {
    @apply rounded-b-md overflow-hidden
}
.blog-info .items{
    @apply flex justify-start gap-x-4 text-sm
         px-4 py-2 bg-dead-c
}
.blog-author a{
    @apply bg-darck-c-2 text-white-c rounded-sm 
        px-0.5
        hover:bg-darck-c-1
        hover:text-darck-c-2
        active:bg-white-c;
    
}

.blog-delete {
    @apply bg-darck-c-2 bg-opacity-25 text-darck-c-2
    relative
    p-2 mt-2 rounded-lg overflow-hidden
    hover:bg-clicked-c active:bg-dead-c
}





.blog-delete button{
    @apply 

        bg-darck-c-2 text-white-c
        block mx-auto mt-2
        sm:inline-block sm:ml-2 sm:mt-0
        px-1 rounded
        
        transition-all duration-150
        opacity-0

        text-center

        hover:-translate-y-1  
        hover:bg-hover-c hover:text-darck-c-2

        active:bg-clicked-c 
        active:-translate-y-0.5
        ;
}
.blog-delete button:hover{
    box-shadow: 0px 4px 0px rgba(0,0, 0, 0.40)
}
.blog-delete button:active{
    box-shadow: 0px 2px 5px rgba(0,0, 0, 0.25)
}