@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}

/* sticky footer(to bottom) */
body {
  @apply h-screen;
}
#root {
  @apply h-screen;
}
.App {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
